/build
/RenameScript/build
/Dump-CreativeUncut/download
/Dump-CreativeUncut/__pycache__
/Dump-CreativeUncut/local_properties.py
/Downloader/download
/Downloader/__pycache__
/Demo/download
/.idea
/Common/local_properties.py
/Common/__pycache__
/MangaCrawler/Site_Manhuagui/download
/Common/test.webp
/Common/build
/Webp2jpg/__pycache__
/Webp2jpg/build
/Webp2jpg/webp2jpg.spec
/MangaCrawler/Site_Dmzj/web.html
/MangaCrawler/Site_Dmzj/download
/Tools/Webp2jpg/build
/Tools/Webp2jpg/webp2jpg.spec
/MangaCrawler/Site_Dmzj/tasks
/LensCopyParser/input.txt
/MangaCrawler/Site_U17/download
