/build
/RenameScript/build
/Dump-CreativeUncut/download
/Dump-CreativeUncut/__pycache__
/Dump-CreativeUncut/local_properties.py
/Downloader/download
/Downloader/__pycache__
/Demo/download
/.idea
/Common/local_properties.py
/Common/__pycache__
